body{
    background-color: rgb(231, 231, 231);
    box-sizing: border-box;
    font-family: 'Lekton', sans-serif;
    
}

h2 {
    font-family: 'Lekton', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #078BAA;
}

h3 {
    font-family: 'Lekton', sans-serif;
    font-weight: bold;
    font-size: 30px;
}


.row {
	margin: 0;
}

/*----- updates -----*/
.updates-page {
	background-color: #eaeaea;
}
.contentList-1, .contentList-2 {
	display: none;
}
.contentList-1-mobile, .contentList-2-mobile {
	background-color: white;
}
.content-item {
	margin-bottom: 2rem;
}
.content-info {
	padding: 1rem 2rem;
	background-color: #eaeaea;
}
.content-headline h4 {
	color: #653ca0;
	font-size: 30px;
}
.updates-thumbWrap img {
	width: 100%;
}
.lead-grab {
	display: none;
	text-align: center;
	margin: -3rem 0 5rem 0;
}
.lead-grab input {
	width: 25rem;
	background-color: #bdbdbd;
	border-radius: 40px;
	font-size: 23px;
}

/*----- página webinar -----*/
.webinar-page {
	background-color: #eaeaea;
}
.guest-presentation {
	display: none;
}
.webinar-intro article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.webinar-container-1 {
	padding: 0;
}
.webinar-description {
	margin-bottom: 4rem;
}
.webinar-topics h3 {
	padding-left: 40px;
	margin-bottom: 1.5rem;
}
.webinar-topics li {
	margin-bottom: 1rem;
}
.webinar-topics span {
	font-size: 3rem;
    font-weight: bold;
    margin-right: 2rem;
    color: #078baa;
}
.cta-col {
	display: none;
}
.webinar-cta-1 {
	position: relative;
    top: 10rem;
    z-index: 1;
}
.webinar-cta-1 a, .webinar-cta-2 a {
	background-color: #653ca0;
    padding: 1.5rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: 15px solid #eaeaea;
    text-decoration: none;
    z-index: 1;
}
#cta-1-art {
	height: 35rem;
    position: relative;
    bottom: 3rem;
}
.guest-img {
	padding: 0 3rem 0 0;
}
.guest-info {
	text-align: right;
    position: relative;
    top: ;
}
.guest-info-mobile {
	padding: 0 1rem;
	text-align: center;
}
.guest-info img {
    display: none;
}
.guest-name, .guest-name-mobile {
	font-size: 30px;
    color: #5a9dac;
}
.guest-job, .guest-job-mobile {
	font-size: 18px;
    font-style: italic;
}
.guest-img figcaption, .group-pic figcaption {
	font-size: 30px;
	color: #5a9dac;
}
.guest-img img,.guest-img-mobile img {
	width: 100%;
}
.guest-summary {
	text-align: center;
	padding: 1rem 2rem;
}
.webinar-cta-2 {
	text-align: center;
	padding-bottom: 2rem;
}
.webinar-cta-2 img {
	width: 80%;
    position: relative;
    bottom: 5rem;
    z-index: 0;
}

/*----- página sobre -----*/
.about-page {
	background-color: #eaeaea;
}
.about-container {
	padding: 0 1rem;
}
.group-pic {
	margin-bottom: 4rem;
}
.group-pic figcaption {
	margin-bottom: 1rem;
}
.group-pic img {
	width: 100%;
}
.about-topics {
	color: #5a9dac;
}

/*----- formulário webinar -----*/
.webinarSubs-page {
	padding: 1rem 8vw 10rem 8vw;
}
.form-control:active, .form-control:focus {
	background-color: #eaeaea;
	box-shadow: none;
	border-color: black;
}
 .webinarSubs-title {
 	text-align: center;
 	margin-bottom: 4rem;
 }
 .webinarSubs-title h1 {
 	margin-bottom: 0;
 }
.form-group {
	margin-bottom: 4rem;
}
.lg-resp {
	display: none;
}
.webinarForm-data input {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-radius: 0;
	border-color: black;
}
.webinarForm-data {
	padding: 0 15px;
}
.webinarForm-info {
	text-align: center;
}
.webinar-infoData p {
	margin-bottom: 0;
}
.webinar-info-rightColumn {
	margin-top: 2rem;
}
.form-check-input {
	margin-top: .7rem;
}
.webinar-submitBtn {
	padding: 1rem;
    margin-top: 2rem;
}
.webinar-submitBtn input {
	padding: 1rem 4rem;
    background-color: #653ca0;
    font-weight: bold;
    color: white;
    border-style: none;
}
/*----- typage ----*/
.typage {
	background-color: #eaeaea;
}
.ty-banner {
	padding: 1rem;
	margin-bottom: 5rem;
}
.ty-img img {
	width: 100%;
	max-width: 400px;
}
.ty-msg {
	padding: 2rem 0;
	text-align: center;
}
.ty-msg span {
	font-size: 30px;
	color: #078baa;
	font-weight: bold;
}
.backToContent {
	margin-bottom: 6rem;
}
.backToContent a {
	padding: 1rem 3rem;
	background-color: #653ca0;
	color: white;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

/*----- terms -----*/
.terms-wrap {
	padding: 0 5rem 3rem 5rem;
	text-align: center;
}

/*----- rodapé -----*/
footer {
    width: 100%;
    text-align: right;
    background-color: gray;
    text-decoration: none;
}
footer a {
    padding: 2rem 0;
    color: white;
}