/*----- cabeçalho -----*/
header {
	width: 100%;
	background-color: #eaeaea;
}
.navbar-header-mobile, .navbar-header, .logo-wrap-mobile {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.navbar-header-mobile, .logo-wrap-mobile {
	display: flex;
}
.navbar-header-mobile {
	width: 100%;
	padding: 2rem 1rem;
}
.logo-wrap-mobile img {
	position: relative;
	top: 8px;
}
.brand-text-mobile {
	margin-left: 10vw;
}
#toggle-menu {
	width: 100%;
	background-color: #eaeaea;
	margin-bottom: 2rem;
	text-align: center;
}
.navbar-nav {
	box-shadow: 0 4px 5px rgba(0,0,0,.2);
	padding-bottom: 1rem; 
}
.navbar-nav a {
	text-decoration: none;
	color: #000;
}
.navbar-header {
	display: none;
	width: 100%;
	padding: 3rem 3rem 5rem 3rem;
}
.logo-wrap {
	text-align: center;
}
.logo-wrap img, .logo-wrap-mobile img {
	width: 9rem;
}
.brand-text span, .brand-text-mobile span {
	font-size: calc(30px + 1.5vw);
	font-weight: bold;
	color: #3a0a87;
}
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-left: 6rem;
}
.nav li {
	align-self: center;
	height: calc(6rem + 1.5vw);
}
.nav li img {
	height: 100%;
}