
body{
    background-color: rgb(231, 231, 231);
    box-sizing: border-box;
    font-family: 'Lekton', sans-serif;
    
}

h1 {
    font-family: 'Lekton', sans-serif;
    font-weight: bold;
    font-size: 39px;
    color: #3a0a87;
}

h2 {
    font-family: 'Lekton', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #078BAA;
}

h3 {
    font-family: 'Lekton', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #643CA0;
}



a{
    color: white;
}

#saiba-mais {
    border-radius: 30px;
    background-color: #078BAA;
    border-color: #078BAA;
}

#quick-signup {
    background-color: #E1DAEB;
    border: 0px;
    width: 100%;
    height: 100%;
}

#quick-signup input {
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 0px;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #787878;
}

.btn-primary-outline {
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
  }

  #post-cards .card {
    border: 0px;
    border-radius: 0px;
}

#post-cards .card .card-img-top {
    border: 0px;
    border-radius: 0px;
}
#post-cards .card .card-body {
    border: 0px;
    border-radius: 0px;
    padding: 10px;
}
#post-cards .card .card-body .post-card-title {
    background-color: #DAE1EB;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
}

footer {
    width: 100%;
    text-align: right; 
    background-color: gray;
    text-decoration: none;
}
footer a {
    padding: 2rem 0;
    color: white;
}


/*--- cor do link das postagens---*/

.link-color {
    color: #007bff;
    text-decoration: none;
}