@media only screen and (max-width: 575px) {
	/*----- formulário webinar -----*/
	.webinarSubs-page {
		padding: 1rem 3vw 10rem 3vw;
	}
}
@media only screen and (min-width: 576px) {
	/*----- página sobre -----*/
	.about-container {
		padding: 0 calc(1rem + 8vw);
	}
}

@media only screen and (min-width: 768px) {
	/*----- cabeçalho -----*/
	.navbar-header-mobile {
		display: none;
	}
	.navbar-header {
		display: flex;
	}

	/*----- updates -----*/
	.contentList-1-mobile, .contentList-2-mobile {
		display: none;
	}
	.contentList-1, .contentList-2 {
		display: block;
	}
	.updates-page {
		padding: 1rem 2rem;
	}
	.content-info {
		padding: 1rem;
	}
	.content-item{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
	.content-item img {
		width: 35vw;
	}

	/*----- página webinar ----*/
	.webinar-guest {
		padding: 0 1rem;
	}
	.guest-presentation {
		display: flex;
	}
	.guest-presentation-mobile {
		display: none;
	}
	.webinar-container-1 {
		padding: 0 0 0 2rem;
	}
	.cta-col {
		display: block;
	}
	.guest-info {
	    top: 10rem;
	}
	.guest-summary {
		text-align: right;
		padding: 1rem calc(3rem + 15px) 1rem 15rem;
	}

	/*----- página sobre -----*/
	.about-container {
		padding: 0 calc(1rem + 15vw);
	}
	.about-topics {
		text-align: right;
	}
	
	/*----- formulário webinar -----*/
	.b-adapt {
		max-width: 70%;
	}
	.lg-resp {
		display: block;
	}
	.sm-resp {
		display: none;
	}
	.webinarForm-info {
		text-align: inherit;
	}
	.webinar-info-rightColumn {
		text-align: center;
		margin-top: 0;
	}
	.webinar-submitBtn {
	    margin-top: 0;
	}
}

@media only screen and (min-width: 992px) {
	/*----- cabeçalho -----*/
	.nav {
		padding: 0 calc(1rem + 5vw);
	}
	/*----- página webinar ----*/
	.webinar-container-1 {
		padding: 0 0 0 10rem;
	}
	.webinar-cta-1 a, .webinar-cta-2 a {
	    padding: 1.5rem 4rem;
	}
	/*----- formulário webinar -----*/
	.content-item{
		padding: 0 5rem;
		border: none;
	}
	.content-item img {
		width: 12rem;
	}
	.content-headline {
		margin-bottom: 2rem;
	}
	.content-desc {
		padding-right: 15vw;
	}
	.guest-info {
	    top: 15rem;
	}
	.guest-info img {
	    display: block;
	}

	/*----- formulário webinar -----*/
	.webinar-infoMsg {
		padding-right: 5rem;
	}
}
@media only screen and (min-width: 1200px) {
	/*----- formulário webinar -----*/
	.webinar-infoMsg {
		padding-right: 7rem;
	}
	.webinar-submitBtn input {
		padding: 1.4rem 5rem;
	}
}